<h2>
  Let's fix that text for you!
</h2>

<button class="text-convert">Convert!</button>
<br>
<textarea name="received-text" id="" cols="30" rows="10"></textarea>

<h2 class="converted-header"></h2>
<p class="converted-text"></p>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

<script src="/javascripts/script.js"></script>
<script src="/javascripts/converter.js"></script>