<h2>
  Add a word to the dictionary</h2>
<form>
  Original Word: <input type="text" name="originalWord"> <br> Convert it to: <input type="text" name="convertedWord"> <br>

  <br>
  <button class="create-word">Fix the English Language</button>
</form>

<h2>Current Dictionary</h2>

<div class="word-list">Loading...</div>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="/javascripts/script.js"></script>