<h1>Error!</h1>
<h2>There was an error on the server! Check the console!</h2>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="/javascripts/script.js"></script>